body {
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 40px;
}

.main-img {
    border-radius: 20px;
    margin-top: 40px;
    height: 200px;
    width: auto;
}